@import "layout.css";
@import "nav.css";
@import "footer.css";

/* Grid Container */

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(30px, auto);
  gap: 6px;
  grid-template-areas:
    "nav nav"
    "top-post top-post"
    "post-1 post-2"
    "post-3 post-4"
    "post-5 post-6"
    "ft ft";
}

@media (min-width: 600px) {
  #grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60px auto auto auto 30px;
    gap: 6px;
    grid-template-areas:
      "nav nav nav nav"
      "top-post top-post post-1 post-4"
      "top-post top-post post-2 post-6"
      "post-3 post-3 post-5 post-5"
      "ft ft ft ft";
  }
}

/* Main Content */

#top-post {
  grid-area: top-post;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/224Valkyrie-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffaf0;
  min-height: 160px;
}

#post-1 {
  grid-area: post-1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/224Valkyrie-1.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-2 {
  grid-area: post-2;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/224Valkyrie-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-3 {
  grid-area: post-3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/mk262-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-4 {
  grid-area: post-4;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/mk262-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-5 {
  grid-area: post-5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/300BO-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#post-6 {
  grid-area: post-6;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../img/mk262-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

/* Grid Styling */

.text-gradient {
  background-color: rgba(0, 0, 0, 0.5);
  min-width: 60%;
  max-width: 500px;
  padding: 10px 20px;
  margin: 20px;
  text-align: center;
  border-radius: 2px;
}

.link {
  outline: none;
  text-decoration: none;
  color: #fffaf0;
}

.link:visited {
  color: #fffaf0;
}

.link:hover {
  color: #d02530;
}

.post-info {
  text-align: center;
}

@media (min-width: 600px) and (max-width: 1200px) {
  .post h4 {
    font-size: 1.5em;
  }

  .post .post-info {
    font-size: 0.8em;
  }

  .text-gradient {
    padding: 5px 15px;
    margin: 5px;
  }
}
